producer/src/main/resources/xsd/waybill.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://waybill.ru/soap"
           xmlns:tns="http://waybill.ru/soap"
           elementFormDefault="qualified">

    <xs:element name="getWaybillDocumentRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="getWaybillDocumentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="waybillDocument" type="tns:WaybillDocument"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="WaybillDocument">
        <xs:sequence>
            <xs:element name="invoiceNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="invoiceDate" type="xs:date" minOccurs="0"/>
            <xs:element name="status" type="xs:int" minOccurs="0"/>
            <xs:element name="seller" type="tns:Organization" minOccurs="0"/>
            <xs:element name="buyer" type="tns:Organization" minOccurs="0"/>
            <xs:element name="currencyName" type="xs:string" minOccurs="0"/>
            <xs:element name="currencyCode" type="xs:string" minOccurs="0"/>
            <xs:element name="transferBasis" type="xs:string" minOccurs="0"/>
            <xs:element name="lines" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="line" type="tns:WaybillDocumentLine" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Organization">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="innKpp" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Item">
        <xs:sequence>
            <xs:element name="productCode" type="xs:string" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="unitCode" type="xs:string" minOccurs="0"/>
            <xs:element name="unitName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WaybillDocumentLine">
        <xs:sequence>
            <xs:element name="lineNumber" type="xs:int" minOccurs="0"/>
            <xs:element name="item" type="tns:Item" minOccurs="0"/>
            <xs:element name="quantity" type="xs:decimal" minOccurs="0"/>
            <xs:element name="unitPrice" type="xs:decimal" minOccurs="0"/>
            <xs:element name="amountWithoutTax" type="xs:decimal" minOccurs="0"/>
            <xs:element name="taxAmount" type="xs:decimal" minOccurs="0"/>
            <xs:element name="amountWithTax" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
